---
import "../styles/global.css"
---

<div class="w-full px-40 flex justify-center mt-5">
    <div class="my-auto">
        <h1 class="font-bold text-2xl">1</h1>
    </div>
    <div class="">
        <img src="/document.jpeg" class="px-10" />
    </div>
    <div class="">
        <h1 class="font-bold mb-16">Acta de nacimiento</h1>
        <button class="bg-yellow-400 rounded-lg text-black font-bold text-xl px-2 py-1 border-2 border-black">En progreso</button>
        <h2 class="text-blue-600 mt-20 ml-20 font-bold">VER DETALLES</h2>
    </div>
</div>
