---

---

<header class="bg-white shadow-md py-4 px-6 flex justify-between items-center">
  <div>
    <a href="/appointment" class="flex justify-between items-center cursor-pointer">
      <img src="/law.png" alt="Logo Notaria90" class="w-16 mr-5" />
      <h1 class="font-bold text-2xl">Notaria 90</h1>
    </a>
  </div>
  <nav class="flex items-center"> {/* Usar <nav> para la navegación es semánticamente mejor */}
    <a href="/appointment" class="text-blue-600 hover:text-blue-800 px-4">Solicitar Cita</a>
    <a href="/expedientes" class="text-blue-600 hover:text-blue-800 px-4">Mis trámites</a>
    <a href="/personalizados" class="text-blue-600 hover:text-blue-800 px-4">Documento personalizado</a>
    {/* Nuevo enlace para Cerrar Sesión */}
    <a href="/" id="logout-button" class="text-red-600 hover:text-red-800 px-4 cursor-pointer">Cerrar Sesión</a>
  </nav>
</header>
